@media screen and (max-width: 1400px) {
    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    #hamburger-nav {
    height: 16vh;
    margin-bottom: 3rem;
    }
/* 
    .section__pic-container {
        display: flex;  
        justify-content: center;
        align-items: center;
        width: 100%;  
        height: auto; 
    } */

    .section__pic-container img {
        max-width: 100%; 
        height: auto;  
        display: block; 
        margin-bottom: 5rem;
        margin-top: 3rem;
    }
}
    .about-containers {
        flex-wrap: wrap;
    }
    .section__text__p1 {
        text-align: center;
        margin-top: -2rem;
      }
    /* .sticky-nav {
        margin-top: 5rem;
    }
     */


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
    display: flex;
    flex-wrap: wrap;
    }
    #skills, 
    .skills-details-container {
     display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
     margin: 0.5%;
    }
    .section__pic-container img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .about-containers {
        margin-top: 0;
    }
}


@media screen and (min-width: 1024px) {
    .nav-links {
      gap: 3rem; 
      font-size: 1.2rem;
    }
    .section-container {
        flex-direction: row; 
        gap: 5rem;
      }
    
      .section__pic-container {
        width: 450px;
        height: 450px;
        background-color: transparent;
        margin-bottom: 4rem;
        margin-top: 1rem;
      }
    
      .details-container {
        padding: 2rem;
        font-size: 1.1rem;
      }
      .article-container {
        justify-content: space-between;
        gap: 3rem;
      }
    
      .contact-info-container {
        flex-direction: row;
        justify-content: space-between;
      }
    }

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #home {
        height: 100vh;
     
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers{ 
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .contact-info-upper-container{
        flex-wrap: wrap;
    }
    .btn-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .skills-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: row;
        gap: 0.5rem;
        text-align: top;
      
    }
    #hamburger-nav {
        height: 10vh;
        margin-bottom: 0;
    }
    .section__pic-container {
        width: 100%; 
        max-width: 300px; 
        height: auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .section__pic-container img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        max-width: 300px; 
        max-height: 300px;
        border-radius: 10px; 
    }
    
.skills-details-container {
    flex-direction: column;
    margin-bottom: 4rem;  
}

.setion__text__p2 {
    font-size: 1.25rem;
}
.title {
    font-size: 2rem;
}
.text-container {
    text-align:left;

}
}
