@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(35, 69, 119);
  background-color: whitesmoke;
/* background-image: url(assets/840934.jpg); */
} 


html {
  scroll-behavior: smooth;
}

p {
  color: black;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
  position: relative;
  overflow: hidden;
}

/* NEW ADDED */
.btn::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.btn:active::after {
  transform: translate(-50%, -50%) scale(3);
  opacity: 1;
}


/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}


.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 0.5rem;
}
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease;
  /* box-shadow: 0 4px 10px gray; */
  background: transparent;
  height: 2vh;
  gap: 2rem;

}

a {
  color: gray;
  text-decoration: none;
  text-decoration-color: rgb(10, 52, 143);
}

.btn:hover {
  background-color: #ff5733; /* Example color */
  transform: scale(1.05); /* Slightly enlarge */
}

a:hover {
  display: flex;
  /* width: 100px;
  height: 40px; */
  background: transparent;
  /* border: 0.5rem solid gray; */
  font-size: 20px;
  /* margin: 30px 15px 30px 0; */
  color: rgb(20, 92, 141);
  /* text-decoration: underline overline gray;;
  text-underline-offset: 0.5rem; */
  text-decoration-color: rgb(181, 181, 181);
  /* transform: translateY(-10px); */
}

/* HOVER LE UTHAUCHA EFFECTS */
.details-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.details-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1rem;
  transition: all 300ms ease;
}

.logo:hover{
    cursor: default;
    transform: scale(1.1);
    background-color: transparent;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    width: 28px;
    cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position:absolute;
  top: 40px;
  right: 0;
  background-color: whitesmoke;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links :hover {
  color: rgb(20, 92, 141);
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.menu-links ul {
  margin: 0;
  padding: 0;
}
.menu-links li {
  list-style: none;
  
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(90deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-90deg) translate(10px, 10px);
}

.hamburger-icon span {
  transform: none;
  opacity: 1;
}

/* .hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
} */

/* SECTIONS */
section{
  padding-top: 12.3vh;
  height: 96vh;
  margin: 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  padding: 0%;
  margin: 0%;
}


/* HOME SECTION */
#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  height: 95vh;
  margin: 0;
  align-items: center;
  text-align: center;
  padding: 5px;
}
/* #home {
  min-height: 100vh;
  min-width: 100%;
  flex-shrink: 0;
} */


.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Centers elements horizontally */
  text-align: center;
  margin: auto;
}

.section__pic-container {
  display:flex;
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  width: 200px;  */
  transition: transform 0.3s ease;
  margin-top: 3rem
}

.section__pic-container img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin-top: 1rem;
}

.section__pic-container:hover {
  transform: scale(1.1);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
  background-color: transparent;
 
}

.section__text {
  align-self: center;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  margin-top: auto;
}

.section__text__p2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  /* transition: all 300ms ease; */
  
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
  transition: all 300ms ease;
}
.icon:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}
/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
/* ABOUT SECTION */
#about {
  position: relative;
}

.about-containers{
  gap: 2rem;
  margin-bottom:2rem;
  /* margin-top: 150px; */
  
}


.about-details-container {
    justify-content: center;
    flex-direction: row;
}

.about-containers,
.about-details-container {
  display: flex;
}

/* .about-pic {
  border-radius: 2rem;
} */

.arrow {
  position: absolute;
  right:-5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex:1;
  background: whitesmoke;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(45, 55, 72, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-image: initial;
  border-radius: 24px;
  padding: 40px;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing:normal;
  word-spacing: normal;
  /* text-align: left; */
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* SKILLS SECTION */
#skills {
  position: relative;
}

.skills-sub-title {
  color: rgb(85, 85, 85);
  font-weight:600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap ;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: row;
  width: 10rem;
  min-width: auto;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

article .icon {
  cursor: default;
  width: 2rem;
  height: 2rem;
}
.skills-details-container {
  padding: 2rem;
}

/* PROJECTS SECTION */

#projects {
  position: relative; 
}

.color-container {
  border-color: rgb(163, 163, 163);
  /* background: wheat; */
  /* background-image:url(assets/pexels-photo-3183198.webp) */ 
  backdrop-filter: blur(10px);
  background: rgba(45, 55, 72, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-image: initial;
  border-radius: 24px;
  padding: 40px;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}



.project-title {
  margin: 1rem;
  color:rgb(35, 69, 119);
}
.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  margin: 2rem;
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border:black 0.1rem solid;
  border-color: black;
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  color: aliceblue;
}

.contact-info-container p {
  font-size: larger;
}
 .title{
  color: gray;
 }

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER */
footer {
  height: 26vh;
  margin: 0.1rem;
}

footer p {
  text-align: center;
  color: black;
}


